.button-yellow {
  background-color: #DEDD1A;
  padding: 10px 15px;
  border-radius: 7px;
  opacity: 0.8;
  color: #F8F8F8;;
  font-family: "Lato";
  font-weight: bold;
  font-size: 19px;
}

.button-yellow:hover {
  opacity: 1;
  text-decoration: underline;
}
