.list-inline {
  list-style: none;
  margin-top: 30px;
  text-align: center;
}

.list-inline li {
  display: inline;
  padding: 12px;
}

.list-inline i {
  font-size: 55px;
  opacity: 0.8;
  color: #DEDD1A;
}

.list-inline i:hover {
  opacity: 1;
}
